@charset "UTF-8";

:root {
    /* Cores do projeto:
    #161E5C
    #7A86E1
    #3548DB
    #585961
    #2837A8
    #FFFFFF */
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #585961;
    color: white;
}